@media screen and (max-width: 1300px) {
  .blue-rounded-box-text-1,
  .blue-rounded-box-text-2 {
    font-size: 20px;
  }

  .ergoferon-diagram-07 {
    width: 250px;
    height: 250px;
  }

  .slide-08-shield {
    width: 300px;
  }

  .slide-08-groupIcon1 {
    width: 600px;
  }

  .slide-08-2-groupIcon {
    width: 300px;
  }

  .groupIcon1 {
    justify-content: flex-start;
    padding: 51px 20px 42px 20px;
    border-radius: 376px 0px 0px 376px;
  }

  .groupIcon2 {
    border-radius: 0 376px 376px 0;

    position: relative;
    right: 46px;
    padding: 28px 20px 39px 20px;
  }

  .content-09 {
    justify-content: center;
  }

  .content-09 > img {
    width: 300px;
  }

  .content-10-box-1 > img {
    width: 200px;
  }

  .content-10-box-2 > img {
    width: 200px;
  }

  .content-10-box-text {
    font-size: 60px;
  }

  .slide_11_1 {
    width: 290px;
  }
  .slide_11_2 {
    width: 290px;
  }

  .content-11 {
    align-items: normal;
  }

  .content-14-colors {
    position: relative;
    bottom: 70px;
    flex-direction: column;
  }

  .content-14 > img {
    width: 68%;
  }

  .slide_15_1 {
    position: relative;
    left: 44px;
    width: 109%;
  }

  .slide_15_2 {
    width: 115%;
    bottom: 322px;
  }

  .content-17 {
    margin-left: 0;
  }

  .content-22-colors {
    right: 67px;
  }

  .content-23 > img,
  .content-24 > img,
  .content-25 > img,
  .content-26 > img,
  .content-30 > img,
  .content-22 > img,
  .content-18 > img,
  .content-31 > img,
  .slide_17_1,
  .content-32 > img,
  .content-34 > img,
  .content-36 > img,
  .content-37 > img,
  .content-39 > img,
  .content-40 > img {
    width: 900px;
  }

  .hearts-25,
  .slide_30_2,
  .slide_11_7,
  .slide_11_6,
  .slide_31_2,
  .slide_37_2 {
    display: none;
  }

  .content-37-colors {
    position: relative;
    flex-direction: column;
    bottom: 13px;
    left: -276px;
  }

  .content-40-colors {
    position: relative;
    left: -280px;
    bottom: -20px;
  }

  .content-40-footer {
    left: unset;
  }

  .slide_38_1 {
    width: 50%;
  }
  .slide_38_2 {
    width: 53%;
  }
}
